/* Add task */

.showAddTaskButton {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 0px 3px;
  cursor: pointer;
  font-size: 14px;
  color: grey;
}

.showAddTaskButton:hover {
  color: #db4c3f;
}

.showAddTaskButton:focus {
  outline: none;
}

/* Add task form */

.addTask__container {
  margin-top: 5px;
}

.addTask__quickAddTaskHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  margin-bottom: 10px;
}
.form__border {
  border: 1px solid #cacaca;
  border-radius: 6px;
  padding: 10px 10px;
}

.form__settings {
  display: flex;
}

.settings__button {
  border: 1px solid #cacaca;
  background: transparent;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.settings__button:hover {
  background: #eeeeee;
}

.datepicker__customButtons {
  padding: 10px 0px;
  border-bottom: 1px solid #eeeeee;
}

.datepicker__customButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 14px;
  text-align: left;
  font-size: 14px;
}

.datepicker__customButton:hover {
  background-color: #eeeeee;
  transition: background-color 0.1s ease-in;
}

.Popover {
  width: 200px;
}
.Popover__option {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.Popover__option:hover {
  background-color: #eeeeee;
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.settings__priority {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.settings__priority:hover {
  background: #eee;
}

.priority1 {
  color: #db4c3f;
  margin-right: 10px;
}
.priority2 {
  color: #eb8909;
  margin-right: 10px;
}
.priority3 {
  color: #246fe0;
  margin-right: 10px;
}
.priority4 {
  color: grey;
  margin-right: 10px;
}

.form__submitButtons {
  margin-top: 10px;
}

.submitButtons__addTask {
  background: #db4c3f;
  color: white;
  padding: 6px 12px 7px;
  line-height: 17px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 13px;
}

.submitButtons__addTask:disabled {
  opacity: 0.3;
}

.submitButtons__cancel {
  color: #555;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  padding: 2px 5px;
  text-decoration: none;
  white-space: nowrap;
}

.submitButtons__cancel:hover {
  text-decoration: underline;
}
