/* Task */

.task {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
}

.task__main {
  display: flex;
  font-size: 14px;
  align-items: center;
  word-break: break-all;
  min-width: 200px;
}

.main__task {
  width: 100%;
  cursor: pointer;
}

.task__settings {
  display: flex;
  padding-left: 15px;
  color: #cacaca;
  margin-left: auto;
}

.task__details {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 30px;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}
