.click-to-gif img {
  display: block;
  margin: auto;
  object-fit: contain;
  width: 100%;
}

.click-to-gif input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

label.click-to-gif {
  margin: auto;
  display: block;
  width: 100%;
  background-size: contain;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/todoist-clone-b8b9b.appspot.com/o/createtTaskOverlay.png?alt=media&token=125ffc46-1f96-4dcd-b778-9f37ee1999a2");
}

.click-to-gif:hover,
.click-to-gif:focus-within {
  cursor: pointer;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/todoist-clone-b8b9b.appspot.com/o/createtTaskOverlay.png?alt=media&token=125ffc46-1f96-4dcd-b778-9f37ee1999a2");
}

.click-to-gif input[type="checkbox"] + img {
  opacity: 0;
}
.click-to-gif input[type="checkbox"]:checked + img {
  opacity: 1;
}
.click-to-gif2 img {
  display: block;
  margin: auto;
  object-fit: contain;
  width: 100%;
}

.click-to-gif2 input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

label.click-to-gif2 {
  margin: auto;
  display: block;
  width: 100%;
  background-size: contain;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/todoist-clone-b8b9b.appspot.com/o/createtTaskOverlay2.png?alt=media&token=01fadf96-a183-4635-ba44-e3d7c5330f50");
}

.click-to-gif2:hover,
.click-to-gif2:focus-within {
  cursor: pointer;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/todoist-clone-b8b9b.appspot.com/o/createtTaskOverlay2.png?alt=media&token=01fadf96-a183-4635-ba44-e3d7c5330f50");
}

.click-to-gif2 input[type="checkbox"] + img {
  opacity: 0;
}
.click-to-gif2 input[type="checkbox"]:checked + img {
  opacity: 1;
}
.click-to-gif-mobile img {
  display: block;
  margin: auto;
  object-fit: contain;
  width: 100%;
}

.click-to-gif-mobile input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

label.click-to-gif-mobile {
  margin: auto;
  display: block;
  width: 100%;
  background-size: contain;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/todoist-clone-b8b9b.appspot.com/o/createtTaskOverlayMobile.png?alt=media&token=9fedceda-0068-4a5a-a793-96c164a1f6db");
}

.click-to-gif-mobile:hover,
.click-to-gif-mobile:focus-within {
  cursor: pointer;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/todoist-clone-b8b9b.appspot.com/o/createtTaskOverlayMobile.png?alt=media&token=9fedceda-0068-4a5a-a793-96c164a1f6db");
}

.click-to-gif-mobile input[type="checkbox"] + img {
  opacity: 0;
}
.click-to-gif-mobile input[type="checkbox"]:checked + img {
  opacity: 1;
}
